/* .container-fluid{
    background-color: chartreuse;
    height: 100vh;
} */

#site_header, #site_footer{
    background-color: rgb(44, 62, 80);
    height: 90px;
}

#main_hero, #about{
    background-color: rgb(26, 188, 156);
    height: 200px;
}

#portfolio, #contact{
    height: 200px;
}

#main_bottom{
    background-color: rgb(58, 84, 109);
    height: 150px;
}


#site_header > div{
    border: 1px solid black;
    background-color: cadetblue;
}

#main_hero > div{
    background-color: seagreen;
}

#about > div.col-8{
    background-color: sienna;
}

.navbar-toggler-icon{
    color: black;
}